Cython==3.2.4
dpcpp-cpp-rt==2025.3.0
dpctl==0.21.1
dpnp==0.19.1
h5py==3.16.0
intel-cmplr-lib-rt==2025.3.0
intel-cmplr-lib-ur==2025.3.0
intel-cmplr-lic-rt==2025.3.0
intel-opencl-rt==2025.3.0
intel-openmp==2025.3.0
intel-sycl-rt==2025.3.0
mkl==2025.3.0
mkl-service==2.6.1
mkl_fft==2.1.2
mkl_random==1.3.1
mkl_umath==0.3.1
mpi4py==4.1.1
numpy==2.2.6
onemkl-license==2025.3.0
onemkl-sycl-blas==2025.3.0
onemkl-sycl-dft==2025.3.0
onemkl-sycl-lapack==2025.3.0
onemkl-sycl-rng==2025.3.0
onemkl-sycl-stats==2025.3.0
onemkl-sycl-vm==2025.3.0
packaging==26.0
pkgconfig==1.6.0
PyQUDA==0.10.32
PyQUDA-Utils==0.10.30.post0
tbb==2022.3.0
tcmlib==1.4.1
tqdm==4.67.3
umf==1.0.2
